.footer {
  background-image: linear-gradient(rgb(3, 3, 3), rgb(0, 3, 7));
  height: 230px;
  display: flex;
  color: #999797;
}
.footer > div {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.welcome-note {
  width: 80%;
  margin-top: 20px;
}
.address {
  width: 80%;
}
.map {
  border: 1px solid black;
  background-image: url("../../public/map.png");
  background-position-y: center;
}
